* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: calc(1110px + 2rem);
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

html {
  font-size: 16px;
}

table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
}

tr,
td {
  padding: 0.25rem;
  border: 1px solid;
}

.table-name {
  font-weight: 700;
}

.bg-yellow {
  background: yellow;
}

.hide {
  color: yellow;
}

.hide-border {
  border: none;
}

.hide-week {
  padding-bottom: 28px;
}
